[2015-04-02 18:14] newoga opened #4 "Retina compatible images (such as favicon and reactive ribbon)"

[2015-04-02 18:15] newoga opened #5 "Make reactive ribbon non-sticky (or header sticky)"
Maybe we should consider making the reactive ribbon non-sticky like the header or make the header sticky like it was in original design. I'm fine with either approach :)

[2015-04-02 18:18] newoga opened #6 "Change logo href to not point to index.html"
We should just be able to point it to base with something like:

[code]

That way when you click on the link, it won't show `index.html` in the address bar.

[2015-04-02 18:21] newoga opened #7 "Cleaner urls"
This is related to #6, but we should see if there is a way with jbake to be able to point to paths instead of direct files so that we can have `http://vert-x3.github.io/docs` instead of `http://vert-x3.github.io/docs.html`. I know in similar tools, you would just create a folder called `docs` and change the filename to `index.html` in that folder.

[2015-04-02 18:42] newoga opened #8 "proposal: Community page instead of dropdown"
I'm open to debating this, but how about having a page for Community instead of the dropdown that points to the two google groups?

I think we get the following benefits from that change:
1. We have another opportunity to reiterate where to look for certain type of information or what types of questions issues should be posted where.
2. We could remove the wiki link from the navbar which feels out

[2015-04-02 18:46] newoga commented on #4
One approach is to adapter a pure CSS ribbon insteado of use an image such as http://codepo8.github.io/css-fork-on-github-ribbon

[2015-04-02 21:56] newoga commented on #7
Related to jbake-org/jbake#165

[2015-04-03 08:07] michel-kraemer opened #10 "Redesign manual pages"
They should have the same design as the main website.

The table of contents should be sticky anyhow. Maybe like they did it on the bootstrap site:
http://getbootstrap.com/css/

... but with a larger font size.

[2015-04-03 08:10] michel-kraemer opened #11 "Minify javascript"
Uglify.js, Google Closure Compiler or YUI Compressor. Does anybody know how to do this with Maven/JBake?

[2015-04-03 08:10] michel-kraemer opened #12 "Minify CSS"
Even though we use SASS the bootstrap CSS can become really large! Does anybody know how to do this with Maven/JBake?

[2015-04-03 08:14] michel-kraemer opened #13 "Add about page"
Include core team and contributors.

* Avatar
* Twitter handle (if available)
* GitHub account
* Website (if available)
* Role in the team (if applicable)

[2015-04-03 08:16] michel-kraemer commented on #10
The asciidoc-stylesheet-factory should be used for this. or https://github.com/nerk/asciidoctor-bs-themes

[2015-04-03 08:17] michel-kraemer commented on #13
For the time being we will include the core developers (Tim and Julien) and myself as a contributor for web design. A complete list of contributors is currently being compiled by Tim: https://groups.google.com/forum/#!topic/vertx/p2TejXDhOyg

[2015-04-03 08:19] michel-kraemer opened #14 "'Work in progress' note"
We should add a note on the site "Work in Progress!" (or similar), in case people stumble up on it and think Vert.x 3 is complete...

[2015-04-03 08:19] michel-kraemer opened #15 "Add Eclipse logo"
Could we also add the Eclipse logo somewhere at the bottom?

https://eclipse.org/artwork/

(Maybe next to the cloudbees dev@cloud one?)

[2015-04-03 08:20] michel-kraemer opened #16 "Add JAX innovation award image"
And could we also add the JAX innovation award image somewhere too? :) (the one on the vertx.io website)

[2015-04-03 08:20] michel-kraemer commented on #16
@purplefox The award is almost a year old. JAX 2015 will take place in two or three weeks. Should we add the award image to the front page or maybe to the new about page or somewhere else?

[2015-04-03 08:22] michel-kraemer opened #17 "Lighter primary color"
We need to decide what shade of purple we will use as primary color:
https://groups.google.com/group/vertx/attach/5576ac2ed11b6db6/color-tests.png?part=0.1&authuser=0

Of course we also need to adapt the logo and the favicon.

@purplefox Do you have SVG files for the logo and the favicon?

[2015-04-03 08:26] michel-kraemer opened #18 "Update code examples"
Check if the code examples are compatible to Vert.x 3 and update them accordingly.

[2015-04-03 08:29] michel-kraemer opened #19 "Logos in white?"
The initial idea was to have only monochrome (i.e. white) logos in the 'Who is using Vert.x' section. Any objections?

[2015-04-03 09:47] purplefox commented on #19
+1

[2015-04-03 10:46] #15 closed

[2015-04-05 16:55] michel-kraemer commented on #19
Changes can be previewed here: http://vert-x3-preview.michel-kraemer.com/

[2015-04-05 17:01] michel-kraemer commented on #6
See my comment in #9. Refers to #24.

[2015-04-10 05:14] michel-kraemer commented on #8
Great idea. I guess we can combine this with the planned about page. Please see #13.

[2015-04-10 05:23] michel-kraemer commented on #13
In response to issue #8 I propose the following structure for the 'about' page (maybe 'community' page):

[code]

In other words: the list of contributors goes to the left and any information about the community and anything else related to that goes to the right. Of course it would be up to @purplefox and @vietj to fill the right side with content. WDYT?

Cheers,
Michel

[2015-04-13 17:21] #19 closed

[2015-04-15 05:33] #10 closed

[2015-04-15 05:33] #11 closed

[2015-04-15 05:33] #12 closed

[2015-04-15 08:47] purplefox commented on #16
Yeah, probably we should put this on a different page.

[2015-04-15 08:48] purplefox commented on #13
Looks good.

[2015-04-15 08:49] purplefox commented on #8
+1

[2015-04-15 08:51] purplefox opened #27 "Who's using Vert.x - new page"
So far, I have about 16 companies who have given permission for their logos to appear in the "Who's using Vert.x?" section, and this number is likely to increase over time.

This is quite a lot, so I'm wondering whether we should put them on a different page to the home page - or perhaps we put a few on the home page and click through more.... to another page with the rest.

Thoughts?

[2015-04-15 18:26] purplefox commented on #19
Michel - I have a bunch more logos to convert to monochrome.

If you can tell me how to do it (Don't have photoshop but do have Gimp) I can do the rest myself so as not to bother you each time :)

[2015-04-16 05:05] michel-kraemer commented on #27
I think, we should only put large or well-known companies to the homepage (this section is all about impressing people, isn't? ^^). Then we can add a link to a separate page to see the rest.

However, I guess 16 isn't too much. If you look at the Groovy webpage, for example, they have 36 companies listed and it still looks OK.

We might have to make a cut eventually and decide who's really going t

[2015-04-16 05:06] michel-kraemer commented on #16
The new community page could be a good place (see #13).

[2015-04-16 05:08] michel-kraemer commented on #6
#24 has been merged. This also solves this issue.

@newoga, thanks for your contribution anyhow.

[2015-04-16 05:16] michel-kraemer commented on #19
Increase brightness to 100% and decrease saturation to 0%. The RedHat logo needed some extra work because not all elements could be differentiated well in monochrome. So if you don't get good results, send me the logo(s).

If you add the images to the webpage, please follow these 'guidelines':
* make them 180px wide (see the other logos already there)
* set correct width and height in the HTML fil

[2015-04-16 05:19] michel-kraemer commented on #19
Oh, and I sorted the logos alphabetically by the way.

[2015-04-19 13:55] #7 closed

[2015-04-19 16:54] #18 closed

[2015-04-20 06:06] purplefox commented on #17
I think I prefer 3 or 4.

I'll see if I can find the svg files...

[2015-04-20 06:24] purplefox commented on #19
I tried to edit some logos myself in GIMP but couldn't get them right, so If you could do it, it would be a great help :)

[2015-04-20 07:04] michel-kraemer commented on #19
Sure thing. I received two logos by mail. You can send me the others as well if you like.

By the way: I still don't have the right permissions to commit to this repository. I'm wondering if I should send you a PR for such small changes. I don't want to keep you away from more important work. :-)

[2015-04-20 07:32] purplefox commented on #19
I messed up the teams, but you should be ok to push now :)

[2015-04-21 12:07] michel-kraemer commented on #19
Works perfectly. I just pushed my first commit! :-) I moved the `highlight.pack.js` file to the correct location to fix the syntax highlighting.

[2015-04-21 12:23] vietj opened #29 "Docs menu layout bug with Safari"
buggy display after scrolling a bit vertically

![screen shot 2015-04-21 at 14 13 33](https://cloud.githubusercontent.com/assets/225674/7252103/f2f67c26-e831-11e4-8bb0-05dc1423c003.png)

[2015-04-22 04:34] #6 closed

[2015-04-22 10:35] michel-kraemer commented on #29
PR #30 should fix this. Can you please test and submit perhaps?

I deployed the fix here:
http://vert-x3-preview.michel-kraemer.com/docs/vertx-core/java/

Cheers,
Michel

[2015-04-22 11:19] vietj commented on #29
it works now.

[2015-04-23 07:59] purplefox commented on #8
I was thinking it would be also great to have a "community news" section (or new page) - this is where the greater vert.x community could have entries posted, e.g. maybe there is a Vert.x user group starting somewhere, or a user has created a new service that they want to announce. So basically a place for the community to be able to announce and publicise stuff that's not necessarily about vert.x

[2015-04-23 08:32] michel-kraemer commented on #19
I just added new logos of Bosh, Cyanogen and Groupon.

[2015-04-23 11:34] michel-kraemer commented on #8
Something like a blog maybe? Or a forum?

We have a static site of course, so we need some kind of an external service (something similar to Disqus) to allow others to post things. Or they need to send us pull requests. Any other idea?

[2015-04-23 12:17] purplefox commented on #8
Actually, it would be great to have a blog attached, but that is a different discussion :)

I was thinking for the community page maybe just a static page, where we can maintain links to vert.x related community projects and events.

[2015-04-23 13:52] newoga commented on #8
A page for news where people can share things like projects and events would be cool.

As an alternative, we may be able to borrow one or some of these approaches that I've seen in the angular.js community:
1. Twitter account retweets events, blog posts, projects that would be helpful to the greater community. (I've notice we have a twitter account already, maybe put a twitter stream on the websit

[2015-04-23 14:01] newoga commented on #8
Another approach for listing related community projects is to create a curated list of them as a github repo.

examples: https://github.com/avelino/awesome-go, https://github.com/vinta/awesome-python

We could highlight a repository like that on the community page, and it'd also have the benefit of having visibility on github.

Sorry, I'm just brain dumping things I've seen that I thought have bee

[2015-04-24 05:17] michel-kraemer commented on #29
Great! I suppose you will submit the PR yourself or should we wait for Tim? Or should I do it myself? (sorry for my ignorance, I'm still new to your development process)

[2015-04-24 07:33] #29 closed

[2015-04-26 13:25] #13 closed

[2015-04-26 13:25] #16 closed

[2015-04-28 05:13] michel-kraemer commented on #8
+1 for something like awesome-go on GitHub.

[2015-06-01 20:55] vietj opened #51 "Docker images"
@michel-kraemer we need to integrate in the web-site with Docker infos:

- docker registry with Vert.x images : https://registry.hub.docker.com/repos/vertx/
- docker examples
    - https://github.com/vert-x3/vertx-stack/tree/master/docker/vertx-docker-example
    - https://github.com/vert-x3/vertx-stack/tree/master/docker/vertx-docker-example-fabric8

@cescoffier can help to provide the appropriat

[2015-06-02 04:44] michel-kraemer commented on #51
Sure thing.

@cescoffier I suppose you want to add the links here?
http://vert-x3.github.io/docs/

Michel

[2015-06-02 05:48] cescoffier commented on #51
Exactly.

We don't have a _manual_ right now. I should create one. Anyway, here are the important links:

* Vert.x Docker Image: https://registry.hub.docker.com/repos/vertx/
* Examples (and source): https://github.com/vert-x3/vertx-stack/tree/master/docker

Is this ok ?

New examples are landing soon.

[2015-06-02 07:23] michel-kraemer commented on #51
OK. I will add them later today (after I return from work). I can include any information that you can send me until then.

[2015-06-02 13:53] cescoffier commented on #51
For now, there is not much to add. Just the links would be enough. For the final version, we would have a proper manual.

[2015-06-02 16:06] michel-kraemer commented on #51
See #53. Maybe you can ask Tim or Julien to get permissions to submit this PR.

[2015-06-02 16:06] #51 closed

[2015-06-02 16:19] cescoffier commented on #51
To _merge_ you mean ?

[2015-06-03 07:37] michel-kraemer commented on #51
Indeed :-)

[2015-06-04 09:06] purplefox commented on #14
I guess we can drop this as we will be going live soon anyway

[2015-06-04 09:06] #14 closed

[2015-06-04 09:10] purplefox commented on #8
+1 for awesome-vertx. I'll start a new issue for that as the original issue here was about a community page which we now have anyway :)

[2015-06-04 09:10] #8 closed

[2015-06-04 09:12] purplefox opened #54 "Create "awesome-vertx" GitHub project"
Originally proposed by @newoga

"Another approach for listing related community projects is to create a curated list of them as a github repo.

examples: https://github.com/avelino/awesome-go, https://github.com/vinta/awesome-python

We could highlight a repository like that on the community page, and it'd also have the benefit of having visibility on github.
"

[2015-06-04 09:14] purplefox commented on #27
I agree - only well known companies on the homepage, then we link to another page.

I don't mind too much if the other companies are small or not well known, I'd consider it a perk of being in the Vert.x community (and a thank you from us) that you can get some free advertising for your company :)

[2015-06-07 07:44] michel-kraemer commented on #27
See new pull request #56

[2015-06-07 07:59] purplefox opened #57 "Add origami3 to Who's using Vert.x page"
link: origami3.com

[2015-06-07 08:01] purplefox commented on #57
![origami3](https://cloud.githubusercontent.com/assets/701906/8023119/c0c4ada4-0cf3-11e5-906a-bfc17d8a94d3.png)

[2015-06-07 08:03] purplefox opened #58 "Add datascience to "Who's using Vert.x?" page"
link: datascience.com

[2015-06-07 08:04] purplefox commented on #58
@kuujo - I don't have your logo - could you attach it to this issue? - preferably 180px wide in monochrome with transparent background.

[2015-06-07 08:05] purplefox opened #59 "Add phenixid to "Who's using Vert.x?" page"
Link: http://www.phenixid.net/

[2015-06-07 08:10] purplefox commented on #59
Awaiting logo

[2015-06-07 08:13] purplefox opened #60 "Add vertixone to "Who's using Vert.x?" section"
link: www.vertixone.com

![vertix](https://cloud.githubusercontent.com/assets/701906/8023146/6843e4cc-0cf5-11e5-82ed-1881bf83fa3c.png)

[2015-06-07 08:14] purplefox opened #61 "Add sketchtogether to "Who's using Vert.x?" section"
link: sketchtogether.com

![sketchtogether](https://cloud.githubusercontent.com/assets/701906/8023155/aa518c2a-0cf5-11e5-8098-0d2317a571d7.png)

[2015-06-07 08:21] michel-kraemer commented on #60
I will add it. I just couldn't find the right website. Do you know if they have a larger version of the logo. I'd rather scale it down than up.

P.S.: Is the website down at the moment?

[2015-06-07 08:22] michel-kraemer commented on #57
Do you know if they have a logo with letters? It would look a bit better. But of course I can also add it like this.

[2015-06-07 08:24] michel-kraemer commented on #61
On their website they have a nice logo with letters. It would look a bit better on the Vert.x page. Do you know if they specifically prefer this one (without text)?

[2015-06-07 08:24] purplefox opened #62 "Move cyanogen to home page in "Who's using Vert.x?""
I think we should move cyanogen to the homepage as they have a wikipedia page and are a very high profile startup:

http://en.wikipedia.org/wiki/CyanogenMod

[2015-06-07 08:29] purplefox opened #63 "Make Eclipse and Cloudbees logos on homepage monochrome..."
... on transparent. to match other logos

[2015-06-07 08:30] michel-kraemer commented on #62
:) I didn't realize it's the same company. The logo on the Wikipedia page is still the old one I guess. Stupid me.

The wikipedia page doesn't list revenue or number of employees, so my simple sorting algorithm won't put them on the home page. Also, at the moment we have eight companies there and nine would look a bit odd (I guess 11 or 12 would look much better, should we decide to increase the n

[2015-06-07 08:55] #27 closed

[2015-06-07 15:39] #63 closed

[2015-06-08 11:26] cpetersson commented on #59
Attached is the phenixid logo. Have fun! ;)

![phenixid_mono_white](https://cloud.githubusercontent.com/assets/1038329/8033814/e94d7cf8-0de1-11e5-994e-6577cf7bd904.png)

[2015-06-08 21:33] sigil66 opened #67 "Add Boundary to "Who's using Vert.x Section""
Dark background:
![boundary-logo-300dpi-transparent-standard](https://cloud.githubusercontent.com/assets/1118499/8045868/34c4e7c4-0dfc-11e5-918d-234fd41f5837.png)
Light background:
![boundary-logo-300dpi-transparent-for-light-bg](https://cloud.githubusercontent.com/assets/1118499/8045864/2f1d47bc-0dfc-11e5-94d6-0e9da3b26377.png)

[2015-06-09 05:38] #67 closed

[2015-06-09 05:41] michel-kraemer commented on #59
@cpetersson Thanks for the well-prepared file! :-)

[2015-06-09 05:41] #59 closed

[2015-06-09 07:53] zdanek opened #68 "TouK logo on Vertx page"
Hi.
I'm attaching TouK logo.
It should link to http://touk.pl

We love vert.x here.
![touk180x180monochrome-01](https://cloud.githubusercontent.com/assets/440614/8053076/64dc4d12-0e8d-11e5-93b8-7dd1b484e316.png)

Personally I'm vert.x advocate :D

[2015-06-09 07:55] zdanek commented on #68
The logo is in between "We love vert.x here." and "Personally I'm vert.x advocate :D"  It's white on transparent background :) In case of any problems please let me know.

[2015-06-09 08:46] purplefox commented on #62
I increased the number to 12 which doesn't look too bad, also we're probably have more before we release 3.0 anyway :)

[2015-06-09 13:38] #62 closed

[2015-06-10 16:28] purplefox opened #70 "Add ticketmaster logo to web-site"
svg file is on ticketmaster.com

We should put ticketmaster on main page as they're a well-known large company

[2015-06-13 09:44] #70 closed

[2015-06-13 10:06] #68 closed

[2015-06-13 10:06] michel-kraemer commented on #68
Thanks!

[2015-06-13 12:21] purplefox commented on #58
Jordan @kuujo  - is it ok if we just take the logo from your website?

Cheers

[2015-06-13 16:19] maumock commented on #57
![logo-vertx](https://cloud.githubusercontent.com/assets/2142058/8145053/80dc67a6-11b5-11e5-98dc-ddb7580b6973.png)

SVG, in white, will be sent through email. Please make any necessary adjustments to the SVG.

[2015-06-15 15:17] celsiux commented on #60
Hello Michael please find below a bigger size of the logo, site is online

![vertix-logo](https://cloud.githubusercontent.com/assets/1435843/8163211/c5803aea-134f-11e5-8bc9-f2b707ea709d.png)

Let me know if you need the logo in different format or size.

Best Regards,

[2015-06-16 05:38] michel-kraemer commented on #57
Thanks. Merged.

[2015-06-16 05:38] #57 closed

[2015-06-16 05:47] michel-kraemer commented on #60
Thanks! :)

[2015-06-16 05:47] #60 closed

[2015-06-17 16:18] zerkz opened #71 ""configuring net servers to use SSL" points to an id that does not exist."
Seen at http://vert-x3.github.io/docs/vertx-core/java/#_using_https_with_vert_x

![image](https://cloud.githubusercontent.com/assets/1448099/8212633/aa69269e-14ea-11e5-8d22-1ea9fe203325.png)

The documentation for Net servers, particularly with SSL seems to exist. The ID this anchor points to just doesn't.

[2015-06-17 17:18] cescoffier commented on #71
The issue is in vertx-core.

Actually, two anchors are missing:

* Element missing #security_notes
* Element missing #netserver_ssl

[2015-06-17 17:25] zerkz commented on #71
Looks like #netserver_ssl should be #ssl

Not sure about the other one.

[2015-06-17 17:40] cescoffier commented on #71
Closing this one, it will be fixed by https://github.com/eclipse/vert.x/pull/1079.
Thanks for reporting.

[2015-06-17 17:40] #71 closed

[2015-06-18 14:18] nfmangano commented on #61
Hi Tim and Michel,

Glad you guys like the logo. Regarding a logo that you can use, here's both a monochromatic and regular versions of the logo above with text:

* Monochromatic logo: https://www.dropbox.com/s/cpoae4eej6v6w88/st_banner_mono.svg?dl=0
* Regular logo with text: https://www.dropbox.com/s/rak7tgx7hvy3unt/st_banner.svg?dl=0

Let me know if you guys need it in another format.

[2015-06-18 15:12] zerkz opened #72 "Inconsistency with default JUL logging config filename documentation."
http://vert-x3.github.io/docs/vertx-core/java/#_configuring_jul_logging

![image](https://cloud.githubusercontent.com/assets/1448099/8234527/86c98326-15aa-11e5-8042-a75af4199fa6.png)

The default config filename in the documentation above is incorrect. It seems to be "vertx-default-jul-logging.properties".

 Please see https://github.com/eclipse/vert.x/blob/3.0.0-milestone6/src/main/java/io/vertx/

[2015-06-18 15:13] zerkz commented on #72
Can provide pull request to fix this later.

[2015-06-18 18:30] 4yestaran opened #73 "Vert.x use case in Spain"
Hello Tim,

as agreed by email, we open this issue to document a  Vert.x use case.

We are an Spanish digital solutions provider (Paradigma Tecnológico) and we have used Vert.x in one of the most important retail companies in Spain.

The project is really important, some details about it:

Goal: unify all user information databases to have a consolidated view throughout all the company businesses.

[2015-06-19 11:44] #72 closed

[2015-06-19 12:22] purplefox commented on #73
Thanks, done.

[2015-06-19 12:22] #73 closed

[2015-06-19 12:23] purplefox commented on #61
@michel-kraemer l - these logos don't have a transparent background and I struggled to convert them, so deferring to your better photoshop skills on this :)

[2015-06-19 12:30] purplefox commented on #58
I've grabbed the logo from the website.

[2015-06-19 12:32] #58 closed

[2015-06-19 12:44] purplefox commented on #17
Btw, Vert.x logo svg file has been uploaded to the wikipedia page :)

https://en.wikipedia.org/wiki/Vert.x#/media/File:Vert.x_Logo.svg

[2015-06-19 12:45] purplefox commented on #5
Not sure if this is still an issue..

[2015-06-19 12:45] purplefox commented on #17
What do you think about the colours Michel?

[2015-06-19 12:52] purplefox commented on #54
The awesome repo now exists, but we should link to it from the community page.

[2015-06-19 14:04] newoga commented on #5
Yeah, we can close this. I think on the older website, the header was non-sticky so only the ribbon was moving around as you scrolled which seemed odd. On the current website, the reactive ribbon floats with the header so I think it looks alright now.

Closing this...

[2015-06-19 14:04] #5 closed

[2015-06-19 14:11] newoga commented on #54
Nice! Yeah after adding it to the community page, we can probably close this.

Would it be worthwhile creating a post in vertx or vertx-dev google groups about the vertx-awesome repo? Might be an opportunity to get a sense of what people have developed or are working on outside of vertx-ext...

[2015-06-19 14:14] purplefox opened #74 "Copy Vert.x 2 website into sub directory of Vert.x 3 site"
We need to copy the current Vert.x 2 website into the Vert.x 3 web site, so that when we switch over vertx.io to use the new Vert.x 3 website, the Vert.x 2 site is still available

[2015-06-19 14:15] purplefox commented on #74
@michel-kraemer Any idea how to do this? I tried a naive copy of the old site into a directory src/site/vertx2 but the site build fails as it doesn't seem to be expecting static resources.

[2015-06-20 13:37] michel-kraemer commented on #54
@purplefox Yes, I agree with @newoga. It would be great if you could announce it on the mailing list. I would also suggest adding a section with tutorials and (real-life) examples.

[2015-06-20 13:58] michel-kraemer commented on #61
Done. I just opened the first svg file in Inkscape and exported it as PNG :-)

[2015-06-20 13:58] #61 closed

[2015-06-20 14:03] michel-kraemer commented on #17
Well, if you want my opinion, I say colors 3 and 4 look good, but 1 is great as well. I would prefer 3 over 4, but I really can't decide between 1 and 3. If you think 1 is too dark, then we should go for 3. But if you don't have a strong opinion either, I'd say we leave it as it is.

[2015-06-20 14:22] michel-kraemer commented on #74
I updated the build script. Please copy the old website to `src/main/vertx2` instead of `src/site/vertx2`.

[2015-06-21 08:06] purplefox commented on #17
I prefer 3, how about we go for that

[2015-06-21 08:24] #74 closed

[2015-06-22 07:30] cescoffier commented on #54
The community page has now a link to the vert.x awesome project.
So, we just need to make an announcement.

[2015-06-22 07:31] purplefox commented on #54
We should also consider whether we're going to add the equivalent for Vert.x 2 to this page:

https://github.com/eclipse/vert.x/wiki/Useful-Vert.x-components-and-modules

[2015-06-22 07:36] cescoffier commented on #54
We could migrate the page to the a "vert.x 2 awesome" project to just create a vert.x 2 file on the same repo (vert.x 3 organisation).

WDYT ?

[2015-06-22 07:58] purplefox commented on #54
+1 to that suggestion.

Also, feel free to announce on the google group :)

[2015-06-22 13:02] cescoffier commented on #54
Announce done, closing the issue.

[2015-06-22 13:02] #54 closed

[2015-06-22 20:57] purplefox opened #76 "Add page with links to articles and videos about Vert.x"
(after 3.0)

[2015-06-23 10:11] cescoffier opened #77 "Remove experimental modules from the documentation"

[2015-06-23 10:13] cescoffier opened #78 "Explain distros"

[2015-06-23 10:13] cescoffier opened #79 "Mention that non production module can be found on vert-x awesome"

[2015-06-23 12:28] #77 closed

[2015-06-23 12:28] #78 closed

[2015-06-23 12:28] #79 closed

[2015-06-23 12:32] purplefox opened #80 "Order contributors by size of contribution"
I'm not sure if it is possible to get this info from the GitHub API but...

... it would be cool if we could some order the community contributor list by size of contributions (lines of code?) so we could display those who have made bigger contributions at the top, and those who had just made a very small contrib at the bottom.

[2015-06-23 19:28] #17 closed

[2015-06-23 19:29] purplefox opened #81 "Blog area on the website"
I think this was discussed before to some degree, but I think it would be great to have blog functionality in the web site so members of the team could blog about Vert.x related stuff.

Then we can output an RSS feed that could be aggregated elsewhere e.g. on the jboss.org or eclipse.org sites.

[2015-06-23 19:46] purplefox commented on #81
I've tried and failed to get GitHub's recommended solution: Jekyll working - so I'm going to rule that out.

[2015-06-23 20:18] vietj commented on #81
how surprising :-)

[2015-06-23 20:19] purplefox commented on #81
And please no-one suggest any other Ruby based tools ;)

[2015-06-24 06:55] pmlopes commented on #81
I've picked poole and quickly installed and used my domain: https://github.com/pmlopes/pmlopes.github.io I just followed the instructions and it worked for me both on Ubuntu 14.04 and Fedora 22

[2015-06-24 07:11] vietj commented on #81
we need something that makes easy to write code with syntax color or gists.

[2015-06-24 07:12] vietj commented on #81
perhaps we can setup something like Jekyll once and for all and let Jenkins build/push it from a "blog" source repo ?

[2015-06-24 07:27] cescoffier commented on #81
Yes, this is probably the simplest.

[2015-06-24 07:46] pmlopes commented on #81
poole/jekyll can have code with syntax highlight just do:

[code]

[2015-06-24 08:54] vietj commented on #81
it would be nice to use a system that has a docker image for easy usage locally.

[2015-06-24 09:06] cescoffier opened #82 "paradigmo link is broken"
On the 'who's using vert.x' page the paradigmo url is broken (it computes a relative url)

[2015-06-24 10:52] purplefox opened #83 "Docs page - links to non Java examples"
On the docs page, the links to non Java Examples (e.g. for core) are missing.

[2015-06-24 11:25] #82 closed

[2015-06-24 11:25] #83 closed

[2015-06-25 07:14] purplefox opened #84 "Links to examples missing..."
.... for most components on the documentation page.

We have them all for core. But the vertx-web non Java example links are missing, and there are no example links for other components.

[2015-06-26 06:07] michel-kraemer commented on #81
The website is based on metalsmith.io which can already be used as a blog generator. We don't need Jekyll or anything else. It's got a lot of plugins including a markdown renderer, syntax highlighter and everything else you typically need for a software development related blog.

Too bad I'll have to leave for a business trip tomorrow. Otherwise I would have been able to set the whole thing up for

[2015-06-26 06:09] michel-kraemer commented on #80
Yes, I guess I can implement this. I'll be out of office for the next two weeks (one week business and one week vacation). Do you think it's OK if I do it when I'm back?

[2015-06-26 06:15] cescoffier commented on #81
Would be really nice to keep the same tools (and so avoid the divergence). I don't know metalsmith but I'm going to have a look.

[2015-06-26 07:09] michel-kraemer commented on #81
Here are some things I remember from a previous project. Note that I have not tested the following snippets. Consider them as **pseudo-code**:

Put the following in the `gulpfile.js` before line 125 (before the templates are applied):

[code]

Of course you need

[code]

and

[code]

Here are some links:
http://www.metalsmith.io/
https://github.com/ericgj/metalsmith-branch
https://github.com/segme

[2015-06-26 15:38] cescoffier commented on #81
Thanks @michel-kraemer

Your instructions are very useful. It's mostly there. Gonna finish this on Monday.
Thanks again for your help

[2015-06-26 15:53] chengenzhao opened #85 "Missing import statement for Java hello world example on the front page"
Hi there, on the front page of the new website
 the Java hello world example is:

//import io.vertx.core.AbstractVerticle;
/*this line is missing, please add in this line otherwise the vert.x will not be able to find the class: AbstractVerticle and throw out an exception*/

public class Server extends AbstractVerticle {
  public void start() {
    vertx.createHttpServer().requestHandler(req -> {

[2015-06-27 22:41] zdanek commented on #80
Will you automate the script to be run periodically? As people come and go, and the side of their commits changes :)

[2015-06-28 12:36] purplefox commented on #80
I think we should also keep the ability to override the ordering and have the "hardcoded" ones at the top of the list (like we currently do).

No hurry on this one :)

[2015-06-29 10:19] cescoffier commented on #81
Blog is there !

Instructions for posting are here: https://github.com/vert-x3/vertx-web-site/tree/web-site-3.0.0#the-blog

When the first post will be available, I will add the header links.

[2015-06-29 10:19] cescoffier commented on #81
(will close once the first post will be published).

[2015-06-29 16:14] adrianluisgonzalez opened #86 "Add logo to who's using vert.x"
Please add our logo to who's using vert.x

I have provided the logos in black or white (you can't see the white on white, but I promise it is attached)

Please link to: http://www.ef.edu
![black_ef_180](https://cloud.githubusercontent.com/assets/1521539/8412439/fc81c8ac-1e57-11e5-9db0-e13e75cb0e74.png)
![white_ef_180](https://cloud.githubusercontent.com/assets/1521539/8412441/fdfa236e-1e57-11e5-8e

[2015-07-01 16:28] sirgantrithon commented on #81
I'm not sure if I should create a new issue or add to this one, but I'm getting some layout bugs at the bottom of the blog.  I have attached a screenshot.

![image](https://cloud.githubusercontent.com/assets/3400609/8459627/9010a3fa-1fec-11e5-8b73-b7912fe79457.png)

[2015-07-01 17:10] cescoffier commented on #81
Thanks for reporting, did not see it. I think I know the issue.

On 1 juil. 2015, at 18:28, Ian Andrews <notifications@github.com> wrote:

I'm not sure if I should create a new issue or add to this one, but I'm
getting some layout bugs at the bottom of the blog. I have attached a
screenshot.

[image: image]
<https://cloud.githubusercontent.com/assets/3400609/8459627/9010a3fa-1fec-11e5-8b73-b7912fe

[2015-07-02 07:50] cescoffier commented on #81
I've fixed the double footer as well as a missing `</div>` in a template.

[2015-07-02 07:50] cescoffier commented on #81
As the blog is functional, I'm closing this issue.

[2015-07-02 07:50] #81 closed

[2015-07-03 07:46] cescoffier commented on #85
There is also an issue in the ruby example (must be `$vertx` instead of `vertx`)

[2015-07-03 07:50] cescoffier commented on #85
Fix deployed.

[2015-07-03 07:50] #85 closed

[2015-07-03 07:51] cescoffier commented on #84
Links have been added.

[2015-07-03 07:51] #84 closed

[2015-07-07 14:47] cescoffier opened #89 "Improve Blog Contribution guide"
1. Mention the 'header/introduction' part
2. Hard wraps
3. A note about style
4. Gist integration

[2015-07-08 10:06] #89 closed

[2015-07-08 14:54] purplefox opened #90 "Download button points at 2.1.6 not 3.0 distro"
The download button on the Vert.x 3 web-site takes you to:

https://bintray.com/vertx/downloads/distribution/view

Which has 2.1.6 downloads down the left hand side, not 3.0.

[2015-07-10 07:43] purplefox opened #91 "Blog feed only provides blog snippets"
Vert.x blog is now aggregated at jboss.org:

https://planet.jboss.org/#projects=vertx

They raised the point that currently we are only exporting snippets of blog entries in the feed, not the whole entry.

They'd like to see the whole thing. Is this possible?

[2015-07-10 07:44] cescoffier commented on #91
Yes, it's possible. Right now I was using excerpt (kind of complicated to compute BTW).

[2015-07-10 11:33] cescoffier commented on #91
Done.

[2015-07-10 11:33] #91 closed

[2015-07-11 06:19] purplefox commented on #86
Hi Adrian,

I think we need a transparent border on the left and right hand sides of the image otherwise it dominates the other logos on the page, because it's so relatively tall.

Unfortunately my gimp skills aren't really up to doing that :(

Any chance you could edit it?

BTW, if you want to preview how it looks on the web site, simply clone this repository, then add the logo in the src/assets/

[2015-07-11 06:27] purplefox commented on #90
fixed.

[2015-07-11 06:27] #90 closed

[2015-07-11 06:53] cescoffier commented on #86
gulp watch open the HTTP server on the port 4000 (not 4040)

So the sequence is:

[code]

[2015-07-11 07:53] purplefox commented on #86
+1

[2015-07-13 09:51] eriyanto commented on #86
![eprocurement-indonesia-logo](https://cloud.githubusercontent.com/assets/11383742/8647078/0653a1b6-297f-11e5-97ec-78251292c8f7.png)

This is my Product logo that using vert.x Technology, with detail information feature can be shown at http://eprocurement-indonesia.com/

[2015-07-13 09:55] eriyanto opened #94 "eProcurement Indonesia - Powerfull eProcurement Software using Vert.x Technology"
![eprocurement-indonesia-logo](https://cloud.githubusercontent.com/assets/11383742/8647170/bfd7a498-297f-11e5-9580-a43371c399a9.png)

Dear Tim Fox,
Thank You So Much for Your Response. herewith i attach my logo and i you need
to view detail about eProcurement Indonesia, you can see detail at http://eprocurement-indonesia.com/

Thank You

[2015-07-13 15:49] adrianluisgonzalez commented on #86
@purplefox my skills aren't up to the task either.  I'll get someone to sort out the borders.  Thanks.

[2015-07-15 13:23] purplefox commented on #94
Hi, can you edit the logo?- it needs to be in white on a transparent background and 180px width.

Take a look at the other logos on the website for examples :)

Thanks!

[2015-07-15 16:16] adrianluisgonzalez commented on #86
![ef_white_newdimensions](https://cloud.githubusercontent.com/assets/1521539/8703422/05e95532-2aeb-11e5-8138-f74f41b2108d.png)

I have attached an updated logo with transparent left/right boarders.  The logo is white so it is hard to see it on github.

[2015-07-22 06:39] cescoffier opened #96 "Add admonition in blog post"
Add support for special paragraphs:

* NOTE
* TIP
* IMPORTANT
* WARNING

[2015-07-23 16:16] #96 closed

[2015-08-11 02:51] eriyanto commented on #94
Dear Tim Fox,
Sorry for late response, because of overseas work.
herewith i attached logo eprocurement indonesia in accordance with your suggestion.

Thank You so much for your attention.

Eriyanto
![eprocurement-indonesia-180px](https://cloud.githubusercontent.com/assets/11383742/9189143/92b07cec-400e-11e5-8d6f-b9de3a0ccf3e.png)

[2015-08-18 14:14] #86 closed

[2015-08-18 14:21] purplefox commented on #94
Thanks!

[2015-08-18 14:21] #94 closed

[2015-09-09 16:31] michel-kraemer opened #102 "Remove groovy docs hack in Vert.x 3.1"
See commit 5db5f8a86

[2015-10-03 06:33] #102 closed

[2015-10-15 08:26] pmlopes opened #111 "the recent post listing on the blog does not match the visible number of posts"
It is kind of strange that there is a list of recent posts with the latest 6 posts and the front page only shows the last 5.

Also since our posts are quite long the blog main page gets way to much scroll

Maybe we should just show 1 post on the main page?

[2015-10-15 08:28] cescoffier commented on #111
It should be 6 and 6.

We can only display an excerpt on the first page with a "read more" link ?

[2015-10-15 08:31] pmlopes opened #112 "could we increase the width of the blog post or decrease the font size?"
In the blog there are almost all the times code listings and although we do not write very long lines in general they end up almost all the time wrapped. I think it makes reading the code harder so readers will just skim and go over missing probably important pieces of information.

Currently we only allocate 66.6% of the screen real-estate for the blog area, which means we're wasting 33% of space

[2015-10-15 08:34] pmlopes opened #113 "we should have a list of all post from the blog"
We can only see a list of the last 6 posts on the blog all other posts are not listed, unless we jump to a older post and the list start counting down from that post.

This means that posts like how to use NPM and the nice collection of post from Clement on how to start from scratch a full working application are "lost" (by lost i mean not easily found).

I think we should have this list or at lea

[2015-10-15 08:35] pmlopes commented on #111
yes a read more would be nice the we can have something sensible on the first page

[2015-10-15 08:39] cescoffier commented on #113
This would be awesome do have this.

This is just a list right now, because the technology we use does not provide anything to do that (so we have to do that manually). I will have a look.

[2015-10-15 08:40] pmlopes commented on #112
As a note github blog uses font size 16px and we have 18px

[2015-10-15 09:29] michel-kraemer commented on #112
Well 18px is the base font-size of the whole website. We shouldn't change this to keep the overall layout.

If you click on a post title the sidebar (with the recent posts) will disappear and the text becomes wider. This should be wide enough for almost all content. We can probably solve the problem by putting only abstract/excerpts on the front page.

In addition we can set the `overflow-x: scrol

[2015-10-15 09:46] pmlopes commented on #112
Yes i agree scrolling bars on code are probably better than wrapping

[2015-10-15 09:48] pmlopes commented on #112
I think that scrolls for code areas and the suggestion of read-more for content on the front page as @cescoffier suggested in https://github.com/vert-x3/vertx-web-site/issues/111 would be a great improvement

[2015-10-15 11:09] michel-kraemer commented on #112
Cool. I can contribute the change when I have time on the weekend.

[2015-10-15 11:10] michel-kraemer commented on #111
I can implement this when I have time on the weekend if you like.

[2015-10-25 11:05] michel-kraemer opened #114 "Building the site fails right after cloning"
If you clone the repository, cd into it and issue a `mvn site` like it is described in the README, it will fail because it cannot find `data.json` in the target directory. It seems the file is not created before Gulp is called.

A workaround is to call `mvn process-resources` first and then `mvn site`.

I know too little about Maven to fix this issue myself.

Cheers,
Michel

[2015-10-25 12:14] #112 closed

[2015-10-25 12:34] #111 closed

[2015-10-25 14:37] michel-kraemer commented on #113
Please review #115. Thanks!

Michel

[2015-10-26 08:40] cescoffier commented on #114
It's because we rely on resoruce filtering. Will fix this to execute it in the site lifecycle.

[2015-10-26 09:30] #114 closed

[2015-11-08 13:26] michel-kraemer commented on #113
@cescoffier Ping! :-) :-)

[2015-11-08 13:30] cescoffier commented on #113
oupsy, sorry, went out from my radar. Will test it on my way to devoxx, and let you know tonight or tomorrow.

[2015-11-08 14:10] michel-kraemer commented on #113
No hurry! If you're busy with devoxx I'm totally fine with waiting a couple of days longer. Enjoy the conference. I wish I was there!

[2015-11-09 09:01] cescoffier commented on #113
Hi,

I've checked in in the plane, it looks great. Only small things on the archive page what about doing:

[code]

So we get the complete date and not just the day (which looked weird to me on the first look).

(the `date` filter uses _moment_ to get a nicely formatted date).

[2015-11-18 07:41] michel-kraemer commented on #113
@cescoffier OK. Thanks for the review. I updated the PR.

It looked kind of odd after replacing `day` by `date` (not aligned anymore) so I put the date and the title in different grid columns. Now the page is also responsive.

Cheers,
Michel

[2015-11-18 07:55] #113 closed

[2015-11-24 16:16] cescoffier commented on #76
since we have now a couple of presentation and video, this issue makes a lot of sense.

[2015-11-24 17:06] purplefox commented on #76
We have more than a few :)

https://github.com/vert-x3/wiki/wiki/Presentations-about-Vert.x

[2015-11-24 17:15] cescoffier commented on #76
Did you add the recent ones ;-)

Will work on a page before the end of the week.

[2015-11-26 17:54] #76 closed

[2015-11-27 17:34] leolux opened #118 "Using another logging framework"
Current sentence on the website:
"To do this you should set a system property called vertx.logger-delegate-factory-class-name with the name of a Java class which implements the interface LoggerFactory."

It should be LogDelegateFactory instead of LoggerFactory.

[2015-11-30 09:29] cescoffier opened #119 "Prepare web site for 3.2.0"

[2015-11-30 11:19] thokari opened #120 ""Code not translatable" in Groovy / Mongo-Auth docs"
See here:

    Authentication
    When authenticating using this implementation, it assumes username and password fields are present in the authentication info:

    Code not translatable

[2015-11-30 15:04] cescoffier commented on #119
Done in the 3.2.0 branch.

[2015-11-30 15:04] #119 closed

[2015-11-30 15:23] cescoffier commented on #120
The issue should be handle in vertx-auth.

[2015-11-30 15:27] #120 closed

[2015-12-04 10:58] cescoffier opened #121 "Add links to ceylon doc to the web site"

[2015-12-04 11:04] cescoffier commented on #118
Issue fixed in https://github.com/eclipse/vert.x/pull/1221.

[2015-12-09 15:09] cescoffier opened #122 "Add jgroups documentation to the web site"

[2015-12-10 09:31] #118 closed

[2015-12-10 09:32] #122 closed

[2015-12-10 14:24] #121 closed

[2015-12-16 15:18] cescoffier opened #124 "Add the new sockjs proxy documentation"

[2015-12-27 20:05] ctranxuan opened #129 "Typo in the section TCP Eventbus Bridge"
« An eventbus bridge that let you interact with vert.x »  -> « An eventbus bridge that let**s** you interact with vert.x »

[2016-01-03 18:32] #129 closed

[2016-01-04 12:35] #80 closed

[2016-01-12 14:49] #124 closed

[2016-01-25 06:48] cescoffier opened #134 "Create a dedicated page for the introduction to vert.x"
See request here: http://vertx.io/blog/my-first-vert-x-3-application/index.html#comment-2467041808

[2016-01-30 11:03] andyhedges opened #137 "Addition to Who's Using"
Hi, we would be happy if you'd like to add our logo to the "who's using vert.x" section.

![tesco-logo-whiteout-180px](https://cloud.githubusercontent.com/assets/958352/12695274/e47965a2-c740-11e5-831e-91b35fcbd521.png).

Logo is attach (it's white with a transparent background - but it's just above...)

[2016-02-01 08:19] #137 closed

[2016-02-02 19:53] jclingan commented on #137
Andy, thanks for your willingness to let the vert.x project use the Tesco logo. Do you have business approval to have the Tesco logo used in vendor (Red Hat) presentations? It would be nice to show the logo on Red Hat Vert.x presentations.

[2016-02-16 18:23] igouss opened #138 "Fix thymeleaf template engine example"
Formatting looks wrong http://vertx.io/docs/vertx-web/java/#_thymeleaf_template_engine
[snip]
&lt;p th:text="${context.get('foo')}"&gt;&lt;/p&gt;
&lt;p th:text="${context.get('bar')}"&gt;&lt;/p&gt;
&lt;p th:text="${context.normalisedPath()}"&gt;&lt;/p&gt;
&lt;p th:text="${context.request().params().get('param1')}"&gt;&lt;/p&gt;
&lt;p th:text="${context.request().params().get('param2')}"&gt;&lt;/p&

[2016-02-16 18:44] igouss opened #139 "Fix examples in vertx-redis-client documentation"
http://vertx.io/docs/vertx-redis-client/java/#_friendlier_hash_commands

Code examples are not properly formatted.
<pre> { keyName: "value", otherKeyName: "other value" } </pre>

[2016-02-18 08:59] cescoffier commented on #139
Changes integrated in the web site.

[2016-02-18 08:59] #139 closed

[2016-02-18 08:59] cescoffier commented on #138
Changes integrated in the web site.

[2016-02-18 08:59] #138 closed

[2016-03-02 07:47] vietj opened #143 "Vert.x eventbus external client doc"
Hi,

I think we should have a section in the documentations page with the external clients, so it's easy to find how to use the eventbus bridge from Node, the tcp from Node, etc...

Now we do have documentation for this, but inside vertx-web as starting point, this documentation would do the reverse, explain how to setup the client and provide links to vertx-web setup of the actual bridge.

[2016-03-21 08:37] #134 closed

[2016-03-25 17:05] michel-kraemer commented on #4
* We don't have a ribbon anymore. So nothing to do here.
* I created a new favicon that is compatible to various devices
  (thanks to https://realfavicongenerator.net)

<img src="https://cloud.githubusercontent.com/assets/295407/14049116/56f16a7e-f2b3-11e5-96af-e702c5414b9c.png" width="32" height="32">

@cescoffier You may restage the website whenever you feel like it.

[2016-03-25 17:05] #4 closed

[2016-03-25 17:07] michel-kraemer commented on #4
@vietj @cescoffier @pmlopes Just an idea. Maybe we can also use the new favicon as the avatar for the github group (https://github.com/vert-x3)? A 512x512 pixels version can be found in the favicons folder.

[2016-03-26 07:24] cescoffier commented on #4
@michel-kraemer done, Thanks !

[2016-04-04 04:24] chengenzhao opened #147 "broken url"
http://vertx.io/docs/vertx-jdbc-client/java/

The url of "common sql interface" is actually broken. It should be "http://vertx.io/docs/vertx-sql-common/java/", but actually it is "http://foobar/"

[2016-04-04 04:24] chengenzhao opened #148 "wrong common sql example?"
Hi there:

http://vertx.io/docs/vertx-sql-common/java/
in this section: Executing INSERT, UPDATE or DELETE
the code example(with black background) of this section is actually irrelevant
it should be something like connection.update("INSERT INTO ....");
does it make sense?

Thanks

[2016-04-08 14:36] w0mbat opened #149 ""Deploying Verticle instances" not available in Java"
I just looked through the documentation (http://vertx.io/docs/vertx-core/java/) and it states, that `Deploying Verticle instances is Java only` - but once I do code-completion, this method is not available - "only" name based deployment can be used

[2016-04-08 14:39] w0mbat opened #150 "Failing a Future needs a message or Throwable"
I just copy/pasted this example from the offical guide(http://vertx.io/docs/vertx-core/java/):
[code]
and it fails compiling because fail() cannot have zero parameters - it needs at least a message or throwable

[2016-04-09 08:31] chengenzhao commented on #149
Hi there:

I just try deploying instance and it works for me though:

    public static void main(String[] args){
        Vertx vertx = Vertx.vertx();
        HttpServerVerticle verticle = new HttpServerVerticle();
        vertx.deployVerticle(verticle);
    }

hope it helps

cheers

[2016-04-09 17:43] michel-kraemer commented on #149
Thanks, @chengenzhao for the code example. @w0mbat, I hope it helps. If not, please ask the question again on the [Google user group](https://groups.google.com/forum/?fromgroups#!forum/vertx). GitHub is only for issues and not for questions. You will get more answers on the user group. Thanks.

[2016-04-09 17:43] #149 closed

[2016-04-10 10:17] cescoffier commented on #150
Yes it should be `startFuture.fail(res.cause())`.

[2016-04-10 10:32] cescoffier commented on #150
Fix in https://github.com/eclipse/vert.x/pull/1372

[2016-04-14 15:52] cescoffier commented on #150
Closing this one as the PR has been merged. It will be updated with the next release.

[2016-04-14 15:52] #150 closed

[2016-04-14 15:52] cescoffier opened #151 "Add microservice toolbox to the web site."

[2016-04-15 09:53] w0mbat commented on #149
@chengenzhao @michel-kraemer For the regular Vertx this is true, but not for the rxjava implementation - I forgot to mention it. Should there be differences?

[2016-04-15 11:38] cescoffier commented on #149
@w0mbat for RX, you should use `vertx.getDeletage().deployVerticle(...)`.
But as said by @michel-kraemer, please you the google group to ask questions.

[2016-04-18 07:40] #148 closed

[2016-04-18 07:40] cescoffier commented on #148
ISsue fixed in the project. The web site is going to be updated during the next release.

[2016-04-18 07:43] #147 closed

[2016-04-18 07:43] cescoffier commented on #147
Project updated. The web site will be updated during the net release process.

[2016-05-15 08:33] pmlopes opened #154 "Add Examples to the website"
Many of the questions we get have been already solved on the examples, maybe we should have a special examples page where we list them. In the home there is only a link to the github repo maybe we need some nicely formatted page with a listing like on the docs...

[2016-05-15 13:48] cescoffier commented on #154
+1, even if I don't think listing the examples would be enough / beneficial. Cross-linking them from the doc may be actually better (but complicated to achieve).

[2016-06-27 13:29] tuler opened #158 ""SockJS event bus bridge" mistake"
At "SockJS event bus bridge", "Securing the Bridge", when describing inbound and outbound rules:

"If a message is out-bound (i.e. being sent from the server to client side JavaScript) before it is sent to the client Vert.x-Web will look through any ~~inbound~~ **outbound** permitted matches. If any match, it will be allowed through."

[2016-07-05 13:39] chengenzhao opened #160 "compose future questions?"
Hi there:

According to the doc here:
http://vertx.io/docs/vertx-core/java/
"compose can be used for chaining futures:"
The future can be composed in this way:
//////////////////////
FileSystem fs = vertx.fileSystem();

Future<Void> fut1 = Future.future();

fs.createFile("/foo", fut1.completer());
fut1.compose(v -> {

  Future<Void> fut2 = Future.future();
  fs.writeFile("/foo", Buffer.buffer(), f

[2016-07-07 08:02] cescoffier commented on #160
Fixed in vertx-core.

[2016-07-07 08:02] #160 closed

[2016-07-26 20:56] vietj opened #161 "Add Devoxx video from Bert Jan Schrijver to the Materials page"
Building microservices with Vert.x by Bert Jan Schrijver

https://www.youtube.com/watch?v=yLg-LPSRjho&feature=youtu.be

[2016-07-26 20:57] vietj opened #162 "Make the vertx learning materials page more visible in the navigation"
Currently the vertx learning materials page is not really visible in the navigation.

I think it's quite an important page and it deserves to be more visible in the navigation.

[2016-07-27 11:17] pmlopes commented on #161
FYI: i also added it to the youtube channel

[2016-07-28 08:31] #161 closed

[2016-07-28 08:31] #162 closed

[2016-07-28 08:32] cescoffier commented on #151
Has been done.

[2016-07-28 08:32] #151 closed

[2016-07-28 08:35] #158 closed

[2016-07-28 08:35] cescoffier commented on #158
Fixed in the vert.x web project.
Thanks for reporting !

[2016-09-08 14:54] vietj opened #169 "Add Paulo's talk at JavaZone"
https://vimeo.com/album/4133413/video/181905280

[2016-09-09 07:16] #169 closed

[2016-09-22 09:34] vietj opened #170 "Update component maintainers"
- replace Rajith Muditha Attapattu by Robbie Gemmel @gemmellr
- add Ruslan Sennov for Consult Client @ruslansennov

[2016-09-26 09:14] #170 closed

[2016-11-02 16:13] vietj opened #175 "Sergey Mashkov adds himself to the Vert.x committers"
via a PR

[2016-11-02 16:14] vietj commented on #175
@cy6erGn0m can you provide a PR for this ? thanks

[2016-11-17 17:48] michel-kraemer commented on #175
@cy6erGn0m Any news here?

[2016-11-21 11:40] vietj opened #177 "Eclipse Vert.x update"
Update with changes explained here : https://github.com/vert-x3/eclipse-proposal-wip/blob/master/proposal.adoc

[2016-11-21 12:39] michel-kraemer commented on #177
Should I take care of this?

[2016-11-21 12:58] cescoffier commented on #177
Up to you @michel-kraemer I can do it too.

[2016-11-21 12:58] cescoffier commented on #177
@vietj commit need a bit of CSS magic ;-)

[2016-11-21 13:00] michel-kraemer commented on #177
:smile: Oh, I just saw Julien's commit. Maybe he pushed it while I was typing. I can do the CSS magic on the weekend at the latest if you like.

[2016-11-28 08:50] michel-kraemer commented on #177
OK. I fixed the footer in the `eclipse-vertx-update` branch. You may merge it if you like.

[2016-11-28 08:55] vietj commented on #177
will have a look thanks!

[2016-11-28 08:59] vietj commented on #177
@michel-kraemer I don't see the commit in the repo

[2016-11-28 09:00] michel-kraemer commented on #177
Ooops. Pushed to origin instead of upstream. Sorry. It should be visible now.

[2016-11-28 09:04] vietj commented on #177
@michel-kraemer nice, do you know why _Terms of Use_ and _Copyright Agent_ don't appear as links ?

[2016-11-28 09:08] michel-kraemer commented on #177
Ah. Alright. I didn't see that. Fixed too now.

[2016-11-28 09:09] vietj commented on #177
lol, my bad wrong HTML thanks!

[2016-11-28 09:16] #177 closed

[2017-02-04 09:56] michel-kraemer commented on #175
It seems @cy6erGn0m does not respond. Shall we close the issue?

[2017-02-04 10:01] vietj commented on #175
no keep it open as reminder, we can do it ourselves eventually later

[2017-02-08 08:31] chengenzhao opened #192 "java comments issue"
Hi there:

On the page:
http://vertx.io/docs/vertx-web/java/#_templates
there is a comment:
// This will route all GET requests starting with /dynamic/ to the template handler
// E.g. /dynamic/graph.hbs will look for a template in /templates/**_dynamic_**/graph.hbs

but actually when we test it, the system actually looks for a template in /templates/graph.hbs
rather than "/templates/dynamic/graph.

[2017-02-08 14:30] chengenzhao commented on #192
Besides, i would recommend adding code piece into the sample.

Java code(in the verticle):

        TemplateEngine engine = ThymeleafTemplateEngine.create();
        TemplateHandler handler = TemplateHandler.create(engine);

        Router router = Router.router(vertx);

        **router.get("/dynamic/*").handler(routingContext -> {
            routingContext.put("key","Hello World!");

[2017-02-09 13:26] chengenzhao commented on #192
same error here:

"For example, if there was a request with path /static/css/mystyles.css the static serve will look for a file in the directory webroot/**static**/css/mystyle.css."

when we test it, the directory webroot/**static**/css/mystyle.css is actually webroot/css/mystyle.css

need to change webroot/**static**/css/mystyle.css -> webroot/css/mystyle.css

[2017-02-09 14:34] lynxluna opened #193 "Link does not work"
Just working on my vertx app, and tries to access the docs and surprised links are broken (goes to localhost:4000). i think commit around 09 Feb 2017 21:15 UTC +0700 broke it.

[2017-02-09 16:09] michel-kraemer commented on #193
Thanks for reporting. It's already been fixed.

See this thread:
https://groups.google.com/forum/#!topic/vertx-dev/1qEYdQ38BqQ

[2017-02-09 16:09] #193 closed

[2017-02-12 14:35] cescoffier commented on #192
@pmlopes can you check ? (and probably move the issue to vert.x web)

[2017-02-12 14:53] chengenzhao commented on #192
Hi cescoffier:

We checked the source code, and here is what we found:

  /**
   * Default value of the web-root, where files are served from
   */
  String DEFAULT_WEB_ROOT = "webroot";

in StaticHandler

and

  /**
   * The default directory where templates will be looked for
   */
  String DEFAULT_TEMPLATE_DIRECTORY = "templates";

in TemplateHandler

hope it helps

[2017-02-12 15:08] chengenzhao commented on #192
My opinion, the way it currently works is correct, there is no need to add another directory like static or dynamic in defualt webroot or templates directory, because the files are already there and adding static or dynamic directory is apparently redundant. Besides if this is an issue of vertx-web then this breaking changes would become an huge impact on current codes.

[2017-02-14 06:58] chengenzhao opened #195 "httpclient usage question?"
Hi there:

We currently have a question about how to use httpclient.
since if we put http client instance in the verticle as a verticle attribute, like this:

    public class MyVerticle extends AbstractVerticle {

    HttpClient httpClient;

    public void start() throws Exception {

        HttpClient httpClient = vertx.createHttpClient();
        //...http client usage
    }
    }

then a dead

[2017-02-14 10:11] michel-kraemer commented on #195
@chengenzhao This is the issue tracker for the Vert.x website. Please post your message to the Vert.x google group.
https://groups.google.com/forum/?fromgroups#!forum/vertx

There are a lot of people in this group who can help you much better than we can here in the issue tracker. Also you should get an answer a lot faster. Thanks.

[2017-02-14 10:11] #195 closed

[2017-03-08 02:10] stream1984 opened #200 "Fix vertx-zookeeper manual url"
Hi , i have [commit](https://github.com/vert-x3/vertx-web-site/commit/f16607ce2dac48ae9492f7d87edb62052be51d79) this change to the master, i would have make PR, sorry for that :(

[2017-03-08 06:35] michel-kraemer commented on #200
No worries :) Thanks for fixing.

[2017-03-08 06:35] #200 closed

[2017-03-31 09:44] chengenzhao opened #206 "copy is missing"
Hi there:

We are currently translating official documents into Chinese and in the WebClient part there is a mistake here:
[http://vertx.io/docs/vertx-web-client/java/](http://vertx.io/docs/vertx-web-client/java/)
When you need to mutate a request, the **copy** returns a copy of the request
but in the example there is no copy method invoked
so maybe it should be:
`get.copy()//add copy() here
  .pu

[2017-04-03 23:38] chengenzhao opened #207 "Missing text in core explanation?"
Hi there:

In the core doc, there is a paragraph saying "If you’re using Verticles"
and there is no other contents and following is a note
It seems like here we should say If u r using Verticles, then there is a build-in vertx object blablabla

Hope it helps

[2017-04-04 07:45] tsegismont commented on #207
Thanks for pointing this out. I sent a pull request to Vert.x core.

2017-04-04 1:38 GMT+02:00 Chengen Zhao <notifications@github.com>:

[2017-04-04 08:13] #207 closed

[2017-04-07 17:49] chengenzhao opened #210 "blocking code pool?"
Hi there:

On the core document, it says

"By default blocking code is executed on the Vert.x blocking code pool, configured with setWorkerPoolSize."

I think here it means worker pool rather than blocking code pool which may cause confusion for readers.

Just my opinion

hope it helps

[2017-04-10 16:24] tsegismont commented on #210
Sounds goods as it is called worker pool in other places. Would like to
contribute the change?

2017-04-07 19:49 GMT+02:00 Chengen Zhao <notifications@github.com>:

[2017-04-11 02:32] chengenzhao commented on #210
Sure, I just submitted an enhancement PR for this doc, hope it helps

Cheers

[2017-04-11 12:18] kraulain opened #211 "Horizontal scrolling not working properly for one of the tutorials"
I was going through the tutorial at  http://escoffier.me/vertx-hol/ gotten from http://vertx.io/materials/#tutorials when i realized that it was possible to scroll horizontally such that text overlaps text and its no longer very readable as shown in the attached screenshot
![image](https://cloud.githubusercontent.com/assets/11361413/24908706/f443752e-1eb8-11e7-8a01-39c99b464131.png)
This might jus

[2017-04-27 13:36] #210 closed

[2017-05-13 13:02] chengenzhao commented on #192
https://github.com/vert-x3/vertx-web/issues/618

[2017-05-13 13:02] #192 closed

[2017-05-22 09:46] vietj opened #220 "Stephane Epardaud adds hiself to the Vert.x committers"

[2017-05-22 09:50] FroMage commented on #220
OK, where's that list?

[2017-05-22 09:57] vietj commented on #220
https://github.com/vert-x3/vertx-web-site/blob/master/src/generated/community/contributors-gen.js

[2017-05-22 09:57] FroMage commented on #220
OK thanks.

[2017-05-22 10:08] #220 closed

[2017-05-22 10:08] FroMage commented on #220
Done.

[2017-05-22 10:09] cescoffier commented on #220
Did someone republish the web site ?

[2017-05-22 10:10] cescoffier commented on #220
^ (doing it)

[2017-05-22 10:11] FroMage commented on #220
Oh, it's not automatic?

[2017-05-22 12:01] cescoffier commented on #220
No but it could.

[2017-06-09 19:58] jponge opened #222 "Latest blog posts and Twitter account link on the front page"
In order to increase visibility we would benefit from:

* having the latest 5 blog entries linked from the front page,
* having a clear link to the Twitter account.

[2017-07-02 14:10] yunyu opened #226 "Kotlin highlighting for example is broken"
![](https://i.imgur.com/rhB3Yfa.png)

[2017-07-02 14:14] yunyu commented on #226
https://github.com/vert-x3/vertx-web-site/pull/225

[2017-07-02 14:59] vietj commented on #226
thanks it has been fixed

[2017-07-02 14:59] #226 closed

[2017-07-11 15:13] yunyu opened #229 "CSRF guide shouldn't recommend HttpOnly"
The applicable blog post: http://vertx.io/blog/writing-secure-vert-x-web-apps/

The issue is in the CSRF protection section. When setCookieHttpOnlyFlag is true, the client can't access the XSRF-Token cookie in document.cookies and thus can't send back the applicable header or form field: https://laracasts.com/discuss/channels/code-review/sanity-check-xsrf-token-httponly

I'm not very familiar with

[2017-07-14 02:09] #229 closed

[2017-07-17 05:40] aschrijver opened #232 "Website should run primarily on https"
This is a small thing, but it is about perception and quality.
Nowadays it is considered best-practice that all websites are secure, redirecting http traffic to https.
Most of the popular technology websites already do this. I was surprised to see vert.x didn't.

Thanks!

[2017-07-17 08:11] pmlopes commented on #232
@aschrijver This is mostly a technical issue with github at the moment since gh-pages do not allow HTTPS. Other providers do allow it e.g.: gitlab but github doesn't and there is no feedback from their side when/if they will do it too.

[2017-07-17 10:44] alexlehm commented on #232
We talked about enabling this with Cloudflare while back, but have not done an implementation

Can't find the thread right now, i will add it when i find it

[2017-07-17 16:48] aschrijver commented on #232
Cool :thumbsup:

[2017-07-17 19:39] pmlopes commented on #232
@alexlehm do you mean this: https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/

[2017-08-14 21:07] Jotschi opened #236 "Site build error"
I get the following build error if I try to build the master branch.

[code]

[2017-08-14 23:10] Jotschi commented on #236
I worked around the issue by removing the vertx-stack-docs dependency.

[2017-09-12 09:58] tarasrudyy opened #239 "Vert.x Core Manual - Verticles - Unresolved directive in index.adoc"
http://vertx.io/docs/vertx-core/kotlin/#_verticles

Here is broken directive:

[2017-10-20 09:24] danielpetisme opened #244 "Add Vertx Starter link"
to mirror what you can find on http://start.vertx.io, the official web site should have a link in the header to go to vertx-starter.

[2017-10-22 04:29] minosniu opened #246 "Missing link in Vert.x Documentation for MQTT"
The "Examples" link in this section is broken: [http://vertx.io/docs/#mqtt](http://vertx.io/docs/#mqtt)

which points to: [https://github.com/vert-x3/vertx-examples/tree/master/mqtt-server-examples](https://github.com/vert-x3/vertx-examples/tree/master/mqtt-server-examples)

[2017-10-22 09:09] vietj commented on #246
thanks

[2017-10-23 08:56] vietj commented on #246
fixed

[2017-11-22 10:27] theoweiss opened #250 "Vert.x Rx examples links are broken"
The examples links for Vert.x Rx in this section are broken: http://vertx.io/docs/#reactive

[2018-01-08 16:29] amdelamar commented on #232
_Bump_. Please enable this soon.

Another Eclipse project-website, MicroProfile https://microprofile.io/ is using CloudFlare already for HTTPS (and HTTP/2 for that matter). Here is their [website repo](https://github.com/microprofile/microprofile-site#summary) explaining the setup.

[2018-01-10 17:22] tsegismont commented on #250
@theoweiss nice catch, thanks!

[2018-01-10 17:23] tsegismont commented on #250
Fixed via https://github.com/vert-x3/vertx-web-site/commit/2029be67ced4339b484eae7ce2a57d9a9b3216cb

[2018-01-10 17:23] #250 closed

[2018-01-19 09:31] #246 closed

[2018-02-12 13:16] vietj opened #258 "Remove Vert.x 2.x docs"

[2018-02-13 15:52] vietj opened #259 "Label JUnit 5 as tech preview"

[2018-02-14 09:36] jponge commented on #259
What else do you need?

We already have:

<img width="430" alt="screen shot 2018-02-14 at 10 35 44" src="https://user-images.githubusercontent.com/25961/36197021-e0c159a0-1172-11e8-9bd9-585c4540a525.png">

and:

<img width="882" alt="screen shot 2018-02-14 at 10 35 55" src="https://user-images.githubusercontent.com/25961/36197022-e0d852ae-1172-11e8-9f93-5935698dbb04.png">

[2018-02-22 14:04] #259 closed

[2018-02-22 14:05] vietj opened #260 "Add asciidoc override for vertx-sql-common missing snippet of code"

[2018-02-22 14:05] #260 closed

[2018-03-05 08:58] cescoffier commented on #258
Do we just drop them and remove the link?

[2018-03-05 09:21] vietj commented on #258
for safety purpose, let's just remove the link and keep the actual content for a while

[2018-03-05 11:03] michel-kraemer commented on #258
Before removing the content later, I would set a permanent redirect from all 2.x pages to vert.io (index.html). This will allow search engines to update their index.

[2018-03-21 07:56] vietj opened #266 "Use https as basis for the site"

[2018-03-21 07:58] #266 closed

[2018-03-21 15:49] jponge opened #268 "Broken link / inclusion on vertx-service-discovery"
See http://vertx.io/docs/vertx-service-discovery/java/#_service_discovery_bridges

[2018-08-12 08:48] vietj opened #284 "Add Pavel to committers"

[2018-08-12 08:49] vietj commented on #284
@Sammers21 can you take care  of providing a PR updating the file contributors-gen.js to add yourself there ?

[2018-08-12 13:18] cescoffier commented on #211
Has been fixed.

[2018-08-12 13:18] #211 closed

[2018-08-12 14:49] vietj commented on #284
yes you are but you are not as "component maintainer", see here https://vertx.io/community/

[2018-08-13 08:16] IDerr opened #286 "Using mqtt server doesn't load css"
Hi :D
When loading : [mqtt server](https://vertx.io/docs/vertx-mqtt-server/java/#_using_vert_x_mqtt_server),
the css is not loading because of mixed http and https.

Thanks a lot for your work

[2018-08-13 09:07] #284 closed

[2018-08-13 09:14] cescoffier commented on #286
@IDerr the module has been renamed to Vert.x MQTT. Check https://vertx.io/docs/vertx-mqtt/java/#_using_vert_x_mqtt_server.

[2018-08-13 09:14] #286 closed

[2018-08-13 09:15] IDerr commented on #286
Thanks a lot for the fast answer.

[2018-08-20 09:11] okou19900722 opened #288 "bug of ceylon manual"
![image](https://user-images.githubusercontent.com/13762092/44331418-01fcd380-a49c-11e8-8111-5129993e8ad4.png)

[2018-09-05 23:49] jasonmacgowan opened #293 "Health Check is misspelled"
Health Check is misspelled in docs

[2018-09-17 08:56] #293 closed

[2018-09-30 04:03] rgmz opened #295 "Broken links on website"
(This is a work in progress)

# Documentation
* Web API Contract > Scala
* Mail Client > Source
* Health Check > Source
* SockJS Service Proxies > Source

## Vertx Core
### [Typed options and arguments]()
* having a constructor with a single **String** argument, such as **File**

### [Sub-classing the Launcher](https://vertx.io/docs/vertx-core/kotlin/#_sub_classing_the_launcher)
* getMainVerticle

[2018-10-08 12:17] tsegismont commented on #268
Duplicates vert-x3/vertx-service-discovery#92

[2018-10-08 12:17] #268 closed

[2019-03-26 10:15] ridwanadhip opened #310 "Wrong content for redis documentation"
When clicking redis doc link of any programming language on vertx.io/docs, server will always respond with groovy redis doc. Example: clicking java link will be responded with groovy.

[2019-04-19 04:38] arai-wa commented on #236
I got same error.
Following lines are error log of `mvn clean site -X`

[code]

[2019-04-23 06:32] arai-wa commented on #236
This error occurs in the master branch.
But it didn't occur in the 3.4.0-release branch.

[2019-06-08 08:40] AhmedMKamal opened #315 "Wrong content for GraphQL documentation"
Please double check the GraphQL Kotlin documentation [dependencies section](https://vertx.io/docs/vertx-web-graphql/kotlin/#_getting_started) it should be `io.vertx:vertx-web-graphql:3.7.1` not `io.vertx:vertx-lang-kotlin:3.7.1` in both Maven and Gradle dependencies, thanks.

[2019-06-10 19:45] tsegismont commented on #315
Thanks for reporting. I'll take care of it.

Le sam. 8 juin 2019 à 10:40, Ahmed M.Kamal <notifications@github.com> a
écrit :

[2019-06-11 05:44] #315 closed

[2019-06-14 09:31] tsegismont commented on #315
Moved to https://github.com/vert-x3/vertx-web/issues/1311

[2019-07-16 12:48] BillyYccc opened #318 "Write a post for incoming vertx-sql-client in the 3.8.0 release"
including a statement for the progress of the relevant GSoC 2019 project (MSSQL support)

[2019-07-16 12:49] vietj commented on #318
it will be announce first in 3.8.0 release, do you want a separate post only for the client or a section of the release blog post ?

[2019-07-16 12:53] BillyYccc commented on #318
Maybe we can write a more detailed separate post ahead of the 3.8.0 release post and add the reference link in the 3.8.0 release post?

[2019-07-16 13:16] vietj commented on #318
I'm planning to release this week 3.8.0 so it would not be written yet I think

[2019-07-19 14:23] DarthSeppius opened #319 "Vertx config docs extra * for bold"
in the [vertx-config](https://vertx.io/docs/vertx-config/java/) probably there is an extra `*` for the bold in the `Concepts` section. I am not sure if this is the best place to report this ^^ but I hope it is. Thanks for the effort in all vertx projects.

[2019-07-19 17:03] vietj opened #320 "Remove disqus comments"
This brings no value and mostly spam.

[2019-07-21 21:20] #320 closed

[2019-09-12 11:32] thokari opened #325 "Missing include in Kotlin docs"
Directly above [Are you fluent?](https://vertx.io/docs/vertx-core/kotlin/#_are_you_fluent) there is a message about an "unresolved directive".

[2019-09-24 13:51] thokari opened #327 "Broken link in core manual"
Under the [Json Pointers](https://vertx.io/docs/vertx-core/java/#_json_pointers) section is a hyperlink shown as markup, unable of being clicked.

[2019-09-24 14:53] tsegismont commented on #327
Fixed in https://github.com/eclipse-vertx/vert.x/commit/76591546472c92de87345e2e8750cc8533c9682c

[2019-09-24 14:53] #327 closed

[2019-09-24 14:53] tsegismont commented on #327
Thanks for the report

[2020-01-04 10:09] vietj opened #331 "Andy Guibert as commiter"

[2020-01-04 10:09] vietj opened #332 "Billy Yuan as commiter"

[2020-01-04 14:19] cpdyj opened #334 "Add an entrance for different version?"
Is it a good idea that add an entrance for multiple version on all website?

[2020-01-04 18:18] vietj commented on #334
do you mean multiple version of the doc ?

[2020-01-04 18:19] #332 closed

[2020-01-05 10:19] cpdyj commented on #334
Yeah, maybe we can provide a page of multiple version docs's link.

In fact, I found the docs of 4.0 version until yesterday. (x

在 2020/1/5 2:18, Julien Viet 写道:

[2020-01-05 18:02] vietj commented on #334
4.0 docs are for now on a separate web-site

we keep all docs but in fact we don't provide links for the pages.

I think somehow we should provide them

[2020-01-05 18:03] vietj commented on #334
e.g https://vertx.io/docs/3.6.2/vertx-core/java/

[2020-01-05 18:03] vietj commented on #334
and https://vertx.io/docs/3.6.2/

[2020-01-06 03:39] cpdyj commented on #334
@vietj
Maybe deploy it in sperate website is a good idea.(x
So the simplest way is add a page of links?
I means maybe we can add a page in a standalone space which provides a set of links refer to different version. And add a link refer to this page in all docs site.
Is it a good idea?

[2020-01-06 10:01] vietj commented on #334
I believe we should find a decent place in the website to link to previous versions, e.g the docs page itself should link to previous versions at the bottom, or something else

[2020-01-06 16:00] cpdyj commented on #334
I think it's useful.2020年1月6日 下午6:01，Julien Viet <notifications@github.com>写道：I believe we should find a decent place in the website to link to previous versions, e.g the docs page itself should link to previous versions at the bottom, or something else

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-03 14:02] tsegismont opened #338 "Add an rx API example to the landing page"

[2020-04-08 07:31] deen13 opened #340 "Kotlin Reactive PostgreSQL Client JSON Example"
There is no example for handling json objects in kotlin using the reactive postgresql client. The code to translate seems to be erroneous because the page displays the error message 'code not translatable'.

I encountered this while trying to fetch a json object from the database. After a while I figured out that the getValue method must be used in order to retrieve a json object. It may also be a

[2020-07-09 08:08] #338 closed

[2020-08-25 02:50] okou19900722 commented on #288
ceylon support has been removed

[2020-08-25 02:50] #288 closed

[2020-09-15 09:23] badape-github opened #346 "missing page - vertx-junit5-web-client"
### Issue

https://vertx.io/docs/vertx-junit5-web-client/java/ returns a 404 page not found.

### Version

3.9.2

### Steps to reproduce

https://vertx.io/docs/vertx-junit5/java/#_junit_5_additional_extensions

click link to https://vertx.io/docs/vertx-junit5-web-client/java/

see 404 error

[2020-09-17 09:37] jponge commented on #346
This is expected, the module was moved to https://reactiverse.io/reactiverse-junit5-extensions/

[2020-09-18 07:04] #346 closed

[2021-02-19 10:22] bataillec opened #351 "Wrong entry link in blog's feed"
### Context

I encountered an error 404 page when following article link in blog feed. It seems a "/blog" has been forgotten in entry link.

### Steps to reproduce

1. Go to https://vertx.io/blog/
2. Click on feed icon on the right
3. On https://vertx.io/feed/atom.xml , each blog entry has a link. Example: https://vertx.io/whats-new-in-vert-x-4
4. Following the entry link, fall on error 404  page

[2021-02-19 10:32] tsegismont commented on #351
Nice catch, thanks for reporting!

Le ven. 19 févr. 2021 à 11:23, bataillec <notifications@github.com> a
écrit :

[2021-02-19 10:44] #351 closed

[2021-06-08 13:57] #143 closed

[2021-06-08 13:57] #154 closed

[2021-06-08 13:57] #175 closed

[2021-06-08 13:57] #206 closed

[2021-06-08 13:57] #222 closed

[2021-06-08 13:57] #232 closed

[2021-06-08 13:57] #236 closed

[2021-06-08 13:57] #239 closed

[2021-06-08 13:57] #244 closed

[2021-06-08 13:57] #258 closed

[2021-06-08 13:57] #295 closed

[2021-06-08 13:57] #310 closed

[2021-06-08 13:57] #318 closed

[2021-06-08 13:57] #319 closed

[2021-06-08 13:57] #325 closed, assigned to nobody

[2021-06-08 13:57] #334 closed

[2021-06-08 13:57] #340 closed